@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
    --font-family-oswald: 'Oswald', monospace;
}

@layer utilities {
        @keyframes fadeInUp {
            0% { transform: translateY(30px); opacity: 0; }
            100% { transform: translateY(0); opacity: 1; }
        }

        .animate-fade-in-up {
            animation: fadeInUp 0.6s ease-out;
        }
}